<html>
<head>
  <meta charset="UTF-8">
  <title>班分け君</title>
</head>
<body>
  班の数:<%= @team_number%><br>
  班長(班の名前):<%= p @readers %><br>
  くじの合計:<%= @sum %><br>
  生成されたくじ:<%= p @lottery %><br>
  
</body>
</html>
